*~
*.pdf
*.synctex.gz
*.log
*.aux
*.toc
*.out
*.dvi
*.bbl
*.blg
*.nav
*.snm
*.auxlock
*.dpth
*.md5

build/*
TexCode/*
!TexCode/info.txt
measurements/*

*.hi
!references/*.pdf
.cproject
.project
.settings

Debug
Release

*.pyc
*.os
*.o
*.so
*.jar
*.pydevproject
